{{!-- New Bike View --}}
<div class="container">
    <h2 id="newRideText">ADD MY NEW RIDE!</h2>
    <form class="create-form" id="new-bike-form">
        <input type="hidden" id="OwnerId" value="profile.getId()">
        <div class="form-group">
            <label for="bike">Make and Model:</label>
            <input type="text" id="bike_name">
            <label for="type">Bike Type:</label>
            <input type="text" id="bike_type">
            <label for="mileage">Miles:</label>
            <input type="text" id="bike_miles">
            <label for="purchase">Purchase Date:</label>
            <input type="text" id="purchase_date">
            <div id="ownerId"></div>
        </div>
        <div id="error" class="hide">Error</div>
        <button type="button" id="addBikeButton">Add Bike</button>
    </form>
</div>