/* TO DO: update the cms references to point to the right place */
#XXXappBody {
  background-image: url(https://previews.123rf.com/images/pozitiw/pozitiw1305/pozitiw130500022/19483622-Chain-gears-Doodle-style-Stock-Vector-bicycle-bike-pedal.jpg);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


#appBody {

  background-image: url(http://forums.roadbikereview.com/attachments/lounge/289933d1387337356-collage-gift-warning-may-contain-bike-pr0n-bikes3.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#Jtron {
  margin-top: 200px;
  text-align: center;
  height: 300px;
}

a {
  color: #e89c5a;
}

a:hover {
  color: #9ea0b8;
}

a.header-link:hover {
  color; white;
}

.button {
   border: 2px solid #0a3c59;
   background: #6861ed;
   background: -webkit-gradient(linear, left top, left bottom, from(#e89c5a), to(#6861ed));
   background: -webkit-linear-gradient(top, #e89c5a, #6861ed);
   background: -moz-linear-gradient(top, #e89c5a, #6861ed);
   background: -ms-linear-gradient(top, #e89c5a, #6861ed);
   background: -o-linear-gradient(top, #e89c5a, #6861ed);
   background-image: -ms-linear-gradient(top, #e89c5a 0%, #6861ed 100%);
   padding: 18.5px 37px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7798ad 0 1px 0;
   color: #06426c;
   font-size: 23px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-top: 125px;
   margin-right: 20px;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #6861ed;
   background: -webkit-gradient(linear, left top, left bottom, from(#e89c5a), to(#6861ed));
   background: -webkit-linear-gradient(top, #e89c5a, #6861ed);
   background: -moz-linear-gradient(top, #e89c5a, #6861ed);
   background: -ms-linear-gradient(top, #e89c5a, #6861ed);
   background: -o-linear-gradient(top, #e89c5a, #6861ed);
   background-image: -ms-linear-gradient(top, #e89c5a 0%, #6861ed 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #06273b 0 1px 0;
   border: 2px solid #0a3c59;
   background: #e89c5a;
   background: -webkit-gradient(linear, left top, left bottom, from(#6861ed), to(#6861ed));
   background: -webkit-linear-gradient(top, #6861ed, #e89c5a);
   background: -moz-linear-gradient(top, #6861ed, #e89c5a);
   background: -ms-linear-gradient(top, #6861ed, #e89c5a);
   background: -o-linear-gradient(top, #6861ed, #e89c5a);
   background-image: -ms-linear-gradient(top, #6861ed 0%, #e89c5a 100%);
   color: #fff;
   }

   #Pedalhead {
      font-family: 'Stalinist One', cursive;
      font-size: 100px;
      color: #e89c5a;
   }

  .lead {
    font-family: 'Cantarell', sans-serif;
    font-size: 32px;
    text-shadow: 4;
    text-align: center;
    padding-bottom: 90px;
  }

  #navBrand {
    font-family: 'Stalinist One', cursive;
    font-size: 26px;
    color: #e89c5a;
  }

  .navbutton {
    font-family: 'Cantarell', cursive;
    font-size: 20px;
    color: #e89c5a;
    margin-right: 12px;
  }

  form#cms {
    margin-top: 50px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  .panel-heading button.delete,
  button.edit {
    float: right;
    margin: 5px;
  }
  
  .owner-container {
    margin-top: 50px;
  }
  
  .owner-list {
    margin-top: 25px;
  }
  
  .blog-container {
    margin-top: 30px;
  }
  
  .blog {
    margin-top: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  #owner-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
  }
  
  .top-30 {
    margin-top: 30px;
  }

/* MODAL */


.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Cantarell;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: Cantarell;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
   border-radius: 2px; 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
 border-radius: 3px; 
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
   border: 1px solid #3079ed; 
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: Cantarell;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 
  
  .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Cantarell;
    /*text-transform: uppercase;*/
}
 
.btn:focus, .btn:active:focus, .btn-stuff:focus {
    outline: 2 none;
}
 
.btn-stuff {
    background: white;
    color: #e89c5a;
}
 
.btn-stuff:hover, .btn-stuff:focus, .btn-stuff:active, .btn-stuff.active, .open > .dropdown-toggle.btn-stuff {
    background: #e89c5a;
    color: white;
}
 
.btn-stuff:active, .btn-stuff {
    background: transparent;
    box-shadow: none;
}

.navbar {
  margin-bottom: 40px;
}

#newRideText {
  font-size: 45px;
  font-family: Cantarell;

}

.footText {
  font-family: Cantarell;
  color: #e89c5a;
}

.bodyText {
  color: #e89c5a;
}

.container2 {
  margin-top: 35px;
}